<p class="subheader">Det</p>
<p>
  Splitting multiple bills between different groups of people? Debt makes managing IOUs between friends simple.
</p>
<p>
  <%= link_to "Source code", @source %>
</p>
<%= image_tag("det1.jpg", :alt => "Det screenshot", :class => "app-screenshot") %>
<%= image_tag("det2.jpg", :alt => "Det screenshot", :class => "app-screenshot") %>
<%= image_tag("det3.jpg", :alt => "Det screenshot", :class => "app-screenshot") %>
<%= image_tag("det4.jpg", :alt => "Det screenshot", :class => "app-screenshot") %>
