<h2>Det</h2>
<p>
  Splitting multiple bills between different groups of people? Debt makes managing IOUs between friends simple.
</p>
<p>
  <%= link_to "Source code", @source %>
</p>
<%= image_tag("det1.png", alt: "Det screenshot") %>
<%= image_tag("det2.png", alt: "Det screenshot") %>
<%= image_tag("det3.png", alt: "Det screenshot") %>
<%= image_tag("det4.png", alt: "Det screenshot") %>
